* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
  }
  body {
    font-family: sans-serif;
  }
  a {
    text-decoration:none;
    color: #fefefe;
  }
  body {
    background-color: #fefbfb;
  }
  .container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
  }
  .calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 30px #ab9f99;
  }
  /* .theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #9b2525;
    cursor: pointer;
    z-index: 1;
  }
  .theme-toggler.active {
    color: #523838;
  }
  .theme-toggler.active::before {
    background-color: #fff;
  }
  .theme-toggler::before {
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #e11414;
    z-index: -1;
  } */
  #display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }
  #display::-webkit-scrollbar {
    display: block;
    height: 3px;
  }
  button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
  }
  button:hover {
    transform: scale(1.1);
  }
  button#equal {
    height: 130px;
  }
  /* light theme */
  /* .calculator {
    background-color: #33b833;
  }
  .calculator #display {
    color: #0a1e23;
  }
  .calculator button#clear {
    background-color: #db7f8e;
    color: #ffdbda;
  }
  .calculator button.btn-number {
    background-color: #339989;
    color: #7de2d1;
  }
  .calculator button.btn-operator {
    background-color: #b6a6ca;
    color: #f1e4f3;
  }
  .calculator button.btn-equal {
    background-color: #19647e;
    color: #eee5e5;
  } */
  /* dark theme */
  .calculator.dark {
    background-color: #010b0f;
  }
  .calculator.dark #display {
    color: #e0e3e8;
  }
  .calculator.dark button#clear {
    background-color: #dc1919f4;
    color: #d5c7bc;
  }
  .calculator.dark button.btn-number {
    background-color: #f2f5f1e4;
    color: #020e13;
  }
  .calculator.dark button.btn-operator {
    background-color: #b2bee3;
    color: #090f12;
  }
  .calculator.dark button.btn-equal {
    background-color: #37f60dde;
  }